# Database
DATABASE_URL=postgresql://calendar_user:calendar_pass@localhost:5432/calendar_db

# Environment
NODE_ENV=development
NEXT_TELEMETRY_DISABLED=1

# NextAuth Configuration
AUTH_SECRET=''

# Google OAuth Configuration
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# Application URL
NEXTAUTH_URL=http://localhost:3000
